html,body,page{
    width: 100%;
    height: 100%;
    margin: 0;
}
page{
    font-size: 180px;
    position: absolute;
    height: 100%;
    text-align: center;
    padding-top: 30%;
}
#c{
    background-color: lightgreen;
    animation: c 10s infinite;
}
#x{
    background-color: red;
    animation: x 10s infinite;
}
#q{
    background-image: url("../imgs/8.jpg");
    background-size: 100% 100%;
    animation: q 10s infinite;
}
#d{
    background-color: black;
    color: white;
    animation: d 10s infinite;
}
#h{
    font-size: 60px;
    display: block;
    animation: h 10s infinite;
}
@keyframes c{
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes x{
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes q{
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes d{
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}
@keyframes h{
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    90%{opacity: 100}
    100%{opacity: 0}
}